# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.egg-info/
dist/
build/

# VSCode
.vscode/

# Data & Checkpoints
*.npy
*.pt
*.pth
*.h5
*.ckpt

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.tmp
*.bak
ckpts/
data.zip
log/
data/data_upload.py
*.yaml
*.csv
*.pdf
*.png
*.jpg
*.svg

